# Gradle
.gradle/
build/
build/classes/
build/tmp/
**/build/

# Frontend
node_modules/
frontend/.next/
frontend/out/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
*.log
*.class
*.class*
*.lock
*.bin
*.probe

# OS
.DS_Store
Thumbs.db
